div {
background: rgb(242, 242, 255); 
font-size: 20px; 
border-radius: 10px;
margin: 40px;
width: 350px;
border: 2px solid black;
}
h1 {
    padding-left: 85px;
}
h3 {
    padding-left: 150px;
}
h5 {
    padding-left: 225px;
}
  