body{
    background-color: #BFCACE;
    padding: 35px;
}

.header {
    height: 60px;
    border-bottom: 2px solid black;
    display: flex;
}
.container{
    background-color: #E4F1F9;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    position: relative;
    width: 45px;
    height: 40px;
    overflow: hidden;
    margin-right: 10px;
}
.logo img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0 ;
    object-fit: contain;
}
a{
    text-decoration: none;
    color: #000;
}
.header-center{
    display: flex;
    align-items: center;
}
.home{
    padding-right: 17px;
}
.about-us{
    padding-right: 17px;
}
.features{
    padding-right: 17px;
}
.header-right{
     display: flex;
     align-items: center;
}
.login{
    padding-right: 17px;
}
.sign-up{
    word-spacing: 2px;
    border-radius: 35px;
    text-align: center;
    background-color: #84A7FA;
    padding: 5px 15px;
}
.sign-up-text{
    color: white;
}





/* Deuxème bloc : Banner */

.banner {
    height: 450px;
    border-bottom: 2px solid black;
    display: flex;
}
.container-2{
    background-color: #E4F1F9;
    padding-left: 45px;
    padding-right: 45px;
    /* J'ajoute du pad-top sur l'ensemble du container-2 */
    padding-top: 45px;
    display: flex;
    width: 100%;
    justify-content:space-between;
}
.banner-2-left{
   background-image: radial-gradient(farthest-side, #F0E6CD,#E4F1F9)
}
.big-title{
    margin-bottom: 0px;
    font-size: 49px;
}
/* .icone-stars{
    height: 40px;
    width: 40px;
    padding-left: 250px;
    padding-top: 0px;
} */
/* J'applique un padding-top au div contenant le lien
pour mettre un peu de distance avec le <p> au dessus */
.try-it-now{
    padding-top: 30px;
}
/* J'applique du style : bordure, alignement du text, fond et 
une ombre */
.try-it-now-text{
    border: #000 solid 1px;
    border-radius: 30px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 15px;
    box-shadow: 3px 1.4px;
}
.banner-2-right{
    /* J'ajoute exeptionnelement du padding-top au div de gauche
    pour qui-il ait à peu près le meme niveau qeu le big title */
    padding-top: 30px;
    padding-right: 22px;
}
/* Je dessin la box */
.box{
    height: 304px;
    width: 380px;
    box-shadow: 10px 14px #84A7FA ;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 18px;
    transform: skew(-3deg, -3deg);
}
/* Je donne un espace padding entre les élements à l'interieur de la box
et les contours de la box */
.inside-box{
    padding:15px 0px 0px 20px;
}
/* J'alligne les images et les paragraphes, puis je les centre */
.inside-box > .mini-img{
    display: flex;
    align-items: center;
}
/* Je reduit la taille des images */
.img{
    position: relative;
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-right: 10px;
    /* J'ajoute un contour rond aux images */
    clip-path:ellipse(50% 50%)
}

/* Fin du banner */


/* Début de bod */
.bod{
    border-bottom: 2px solid black;
    display: flex;
}
.container-3{
    background-color: #E4F1F9;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
}
.join-now-text{
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: center;
    font-size: 45px;
    padding-top: 50px;
}
/* La box-contziner contient les deux box blanches et noires */
.box-container{
    display: flex;
    justify-content: space-between;
}
/* Box blance à gauche */
.box-left-white{
    width: 257px;
    height: 255px;
    background: #FFFFFF;
    border: 1.6px solid #000000;
    border-radius: 17px;
}
.text-in-box-left-white{
    margin: 27px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
/* Lien de bouton dans la box gauche */
.learn-more{
    margin: 32px 119px 33px 27px;
}
.learn-more-text{
    color: #000000;
    word-spacing: 2px;
    border-radius: 35px;
    text-align: center;
    padding: 6px 15px;
    border: #000 1px solid;
}
/* Box noir à droite */
.box-right-black{
    width: 544px;
    height: 255px;
    background: #090909;
    border-radius: 12px;
    background-image: url(../Maquette-1/img/micro.png);
    padding-left: 40px;
}
.text-in-box-right-black{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 30px;
}
/* Lien de bouton dans la box droite */
.sign-up-now{
    padding-top: 40px;
}
.sign-up-now-text{
    color: #000000;
    word-spacing: 2px;
    border-radius: 35px;
    text-align: center;
    padding: 9px 15px;
    border: #000 1px solid;
    background-color: #FFFFFF;
}